/* Colores */
:root {
  --color-gray: #eeeeee;
  --color-white: #ffffff;
  --color-black: #333333;
  --color-blue: #477ca7;
}

/* Base */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

/* Main */
.main-container {
  background-color: var(--color-gray);
  margin: 1.5% 0.6%;
  border-radius: 5px;
}

/* -----------Header----------- */
.header {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.header__title {
  font-weight: 700;
  color: var(--color-black);
}

.header__description {
  margin-top: 1.2%;
  font-size: 1.6rem;
  font-weight: 100;
}

/* ------SECTION IMAGE------- */

.section-img {
  text-align: center;
  padding: 1.5rem;
  background-color: var(--color-gray);
}

.section-img figcaption {
  background-color: var(--color-white);
  border-radius: 2px;
}

.section-img img {
  width: 102.4rem;
  height: 62.3rem;
  margin-top: 1.5%;
}

.section-img h3 {
  font-weight: 400;
  font-size: 1.5rem;
  padding: 2rem;
}

/*--------SECTION TIMELINE----------- */

.timeline {
}

.timeline__title {
  text-align: center;
  color: var(--color-black);
  font-size: 2rem;
  padding: 4rem;
}

.timeline__list {
  font-size: 1.5rem;
  text-align: left;
  width: 40%;
  margin: 0 auto;
  line-height: 5rem;
}

.timeline__item {
}

/* Utilities */
.bold {
  font-weight: 800;
}
